.py-40 {
  padding: 40px 0;
}
p {
  text-align: justify;
}
.shop-cart .cart-summary li {
  width: 100%;
}
.shop-cart .cart-summary {
  float: none;
  width: 100%;
}
.main.interne {
  margin-top: -5rem;
}
.shop-item .shop-item-info .shop-item-title {
  font-size: 16px;
}
.site-title {
  text-transform: none;
}
.site-breadcrumb .breadcrumb-title {
  text-transform: none;
}
.not-active {
  pointer-events: none;
  cursor: none !important;
  color: #FFF !important;
  border-color: #909090 !important;
  background: #909090 !important
}
.fieldError {
  border: 1px solid #E35B5A !important;
}
.text-right {
  text-align: right;
}
.form-message.error {
    color: #FF7F7F;
    padding: 10px 18px;
    border-radius: 10px;
    background: rgba(255, 127, 127, .1);
}